body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-container img {
  max-width: 50%;
  height: auto;
}
